django==1.1.1
pytils
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e hg+http://bitbucket.org/jbo/django-keyedcache/#egg=django-keyedcache
-e hg+http://bitbucket.org/jbo/satchmo-livesettings/#egg=satchmo-livesettings
-e hg+http://bitbucket.org/jbo/satchmo-l10n/#egg=satchmo-l10n