django>=1.1.1
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django-signals-ahoy
-e hg+http://bitbucket.org/jbo/django-keyedcache/#egg=django-keyedcache
http://bitbucket.org/jbo/satchmo-livesettings/get/0.1.4.tar.gz
http://bitbucket.org/jbo/satchmo-l10n/get/0.2.2.tar.gz